<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>harry pointer's shop</title>
</head>
<body>
    <div id="footer" style="margin-left: -5px; font-size: 20px; margin-top: -5px;"><b>Help line: +XXXXXXXXX</b></div>
    <div id="footer" style="margin-left: -5px; font-size: 20px;"><b>Address: xyz</b></div>
    <div id="footer" style="text-align: center; margin-top: 60px; font-size: 50px;"><b>Shop</b></div>
    <div>
        <p style="margin-left: 100px; margin-top: 60px; font-size: 40px;">Browse our products!</p>
    </div>

    <!--<div id="select">
        <select id="selectCategory" style="margin-left: 50px;">
            <option value="default">Category</option>
            [cia nauji optionai pagal ivedima (masyvai)]
        </select>
    </div>-->
    <!-- ateiciai ^ -->

    <div class="productList" style="margin-left: 100px; margin-top: 20px; font-size: 25px;">
        <div class="beverages">
            <p style="margin-top: 10px; font-size: 40px;">Beverages:</p>
    
            <p style="margin-top: -35px;">CocaCola:</p>
            <p style="margin-left: 150px; margin-top: -53px;">Quanitity - ∞, Price - 0.89€</p>
            
            <!-- cia toliau is eiles eis pavadinimas, atskirai kiekis ir kaina, kad lygiuotai butu -->
        </div>
        <div class="bakery">
            <p style="margin-top: 10px; font-size: 40px;">Bakery:</p>

            <p style="margin-top: -35px;">Bread:</p>
            <p style="margin-left: 150px; margin-top: -53px;">Quanitity - ∞, Price - 1.45€</p>
            
            <!-- cia toliau is eiles eis pavadinimas, atskirai kiekis ir kaina, kad lygiuotai butu -->
        </div>
        <div class="dairy">
            <p style="margin-top: 10px; font-size: 40px;">Dairy:</p>

            <p style="margin-top: -35px;">Milk:</p>
            <p style="margin-left: 150px; margin-top: -53px;">Quanitity - ∞, Price - 1.20€</p>

            <!-- cia toliau is eiles eis pavadinimas, atskirai kiekis ir kaina, kad lygiuotai butu -->
        </div>
        <div class="meat">
            <p style="margin-top: 10px; font-size: 40px;">Meat:</p>

            <p style="margin-top: -35px;">Beef:</p>
            <p style="margin-left: 150px; margin-top: -53px;">Quanitity - ∞, Price - 2.30€</p>

            <!-- cia toliau is eiles eis pavadinimas, atskirai kiekis ir kaina, kad lygiuotai butu -->
        </div>
        <div class="household tools">
            <p style="margin-top: 10px; font-size: 40px;">Household tools:</p>

            <p style="margin-top: -35px;">Jackhammer:</p>
            <p style="margin-left: 150px; margin-top: -54px;">Quanitity - ∞, Price - 69.42€</p>

            <!-- cia toliau is eiles eis pavadinimas, atskirai kiekis ir kaina, kad lygiuotai butu -->
        </div>
        <div class="personal care">
            <p style="margin-top: 10px; font-size: 40px;">Personal care:</p>

            <p style="margin-top: -35px;">Essential oil:</p>
            <p style="margin-left: 150px; margin-top: -53px;">Quanitity - ∞, Price - 0.0€</p>

            <!-- cia toliau is eiles eis pavadinimas, atskirai kiekis ir kaina, kad lygiuotai butu -->
        </div>
    </div>
    
    <div style="position: relative">
        <p style="position: fixed; bottom: 0; width:100%; text-align: center">Privacy policy</p>
    </div>
</body>
</html>